*{
    margin:0;
    padding:0;
}
.sidebar-container{
    height: 100vh;
    width: fit-content;
    position:fixed;
    margin-left:10px; 
    margin-top: 10px;
}
.sidebars-link .sidebar-link{
    display: flex;
    margin-left: 0;
    margin-top: 10px;
}
p{margin-left: 15px;
 }
.sidebars-link img{
    width:25px;
}
hr{margin:20px 10px;
    width: 60%;
}
.subscription-list .side-link{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.subscription-list img{
    width:25px;
    border-radius:50%;
}
.small-sidebarContainer{
    width: fit-content;
}
.small-sidebarContainer p{
  display: none;
}
.small-sidebarContainer hr{
  width: 50%;
  text-align: center;
}