.Recommended-video-container{
  width: 430px;
  margin:0 10px 10px 10px;
}
.Recommended-video-container img{
    width: 45%;
    margin-right: 5px;
    border-radius: 10px;
}
.Recommended-video-container .Recommended-video{
    display:flex;
    margin-bottom: 10px;
}
.Recommended-video-container a{
    font-size:14px;
    text-decoration: none !important;
}
.Recommended-video-container a{
    padding-left: 0;
    font-size:13px;
    text-decoration: none !important;
}
a{
    text-decoration: none;
    color:#555;
}
@media(max-width:1280px){
    .Recommended-video-container{
        width: 300px;
        margin:0 10px 10px 10px;
      }
}
@media(max-width:542px){
    .Recommended-video-container{
        width:100%;
        margin:0 10px 10px 10px;
      }
}

